.transaction_history {
    margin-bottom: 30px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(199, 193, 193);
}

td {
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color:  rgb(49, 47, 47);
    
    
}

.row:nth-child(2n + 1) {
    background: rgb(237, 235, 235);
}


th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

thead {
    background-color: rgb(126, 129, 129);
}